/**
 * Color settings.
 */
.primary {
  background-color: #f08080 !important;
}
.primary-text {
  color: #f08080;
}
.accent {
  /*background-color: #21b09f !important;*/
  background-color: #f08080 !important;
}
.accent-text, a {
  /*color: #21b09f;*/
  color: #f08080;
}
.secondary-text {
  color: rgba(0,0,0,0.71);
}

/**
 * Miscellaneous.
 */
footer.page-footer {
  margin-top: 0;
}

/**
 * Schedule table.
 */
table.schedule tr, table.schedule td {
  padding: 0;
}

/**
 * Collection with icons height.
 */
.collection .collection-item.avatar {
  min-height: 62px;
}

/**
 * Parallax height.
 */
.parallax-container {
  height: 300px;
}
