.primary {
  background-color: #f08080 !important;
}
.primary-text {
  color: #f08080;
}
.accent {
  background-color: #21b09f !important;
}
.accent-text, a {
  color: #21b09f;
}
footer.page-footer {
  margin-top: 0;
}
